* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #ffff66;
}
.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.apply_box {
  width: 100%;
  max-width: 600px;
  padding: 24px;
  background-color: white;
  margin: 50px auto;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}
.title_small {
  font-size: 20px;
}
.form_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.control {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}
label {
  font-size: 16px;
  margin-bottom: 5px;
}
input,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  font-family: sans-serif;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
button {
  background-color: red;
  border: transparent solid 2px;
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  transition: 0.3s ease-out;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
button:hover {
  transform: scale(1.1);
}
.textarea_control {
  grid-column: 1 / span 2;
}
.textarea_control textarea {
  width: 100%;
}
@media (max-width: 460px) {
  .apply_box {
    margin: 0 auto;
    padding: 16px;
    border-radius: 0;
  }
  .textarea_control {
    grid-column: 1 / span 1;
  }
}
